{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur la page du produit {{ produit.nom }} ! ✅</h1>



    <h2>Ce produit est de la marque {{ produit.marque.nom }}</h2>

    {{ dump(produit) }}

    <h3>Les produits de la marque : </h3>

    <ul>
        {% for produit in produit.marque.products %}
            <li>{{ produit.nom }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for tag in produit.tags %}
            <li>{{ tag.nom }}</li>
        {% endfor %}
    </ul>

    <ul>
        <li>Your controller at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/relationApp/src/Controller/ProduitController.php'|file_link(0) }}">src/Controller/ProduitController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/relationApp/templates/produit/index.html.twig'|file_link(0) }}">templates/produit/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
