{% extends 'base.html.twig' %}

{% block title %}Hello MarqueController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Voici la page de la marque {{ marque.nom }}! ✅</h1>

    <h2>Voici tous les produits de la marque : </h2>

    <ol>
        {% for produit in marque.products %}
            <li>{{ produit.nom }}</li>
        {% endfor %}
    </ol>
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/relationApp/src/Controller/MarqueController.php'|file_link(0) }}">src/Controller/MarqueController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/relationApp/templates/marque/index.html.twig'|file_link(0) }}">templates/marque/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
