{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les produits du tag {{ tag.nom }}! ✅</h1>

    <ol>
        {% for product in tag.produits %}
            <li>{{ product.nom }}</li>
        {% endfor %}
    </ol>

    <ul>
        <li>Your controller at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/relationApp/src/Controller/TagController.php'|file_link(0) }}">src/Controller/TagController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/relationApp/templates/tag/index.html.twig'|file_link(0) }}">templates/tag/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
